@import './mixin.scss';
@import './fn.scss';
[class^="test-head"] {
    width: 100px;
    height: 100px;
    &.test-head-1 {
        //  图片通过方法path添加cdn前缀，直接写images目录下的路径即可
        background: url('@CDNPATH/header.jpg') center center no-repeat;
        background-size: 100% auto;
    }
    &.test-head-2,
    &.test-head-3 {
        img {
            width: 100%;
            height: 100%;
        }
    }
}