@import './mixin.scss';
@import './fn.scss';
// 加载雪碧图文件如果没有雪碧图需要删除掉，以免报错
@import './sprite.scss';
[class^="test-head"] {
    width: 100px;
    height: 100px;
    &.test-head-1 {
        //  图片通过方法path添加cdn前缀，直接写images目录下的路径即可
        background: url('@CDNPATH/header.jpg') center center no-repeat;
        background-size: 100% auto;
    }
    &.test-head-2,
    &.test-head-3 {
        img {
            width: 100%;
            height: 100%;
        }
    }
}

.sprite-1{
    @include sprite-reward-1;
}
.sprite-2{
    @extend .icon-reward-2;
}
.sprite-4{
    @include sprite-reward-4;
}